.loginWrapper{
  background-color: rgb(138, 138, 255);
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 540px;
  border-radius:10px;
  gap:20px;
  height: 250px;

}
input{
  display: block;
  width: 490px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
}
.loginPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
button{
  display: block;
  border-radius: 5px;
  border-color: rgb(138, 138, 255);
  width: 150px;
  border-style: none;
  height: 30px;
  cursor:pointer;
  transition-duration: 500ms;
}
button:hover{
  background-color: rgb(243, 247, 57);
}
h1{
  color:  rgb(66, 66, 170);;
  text-align: center;
}
body{
  margin: 0px;
}
.message {
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  text-align: center;
  font-weight: 500;
}

.message.success {
  color: green;
  background-color: #e6ffe6;
}

.message.error {
  color: red;
  background-color: #ffeded;
}